$link-color: #0A0A0A;
$header-font-family: 'Roboto Slab', serif;
$text-font-family: 'Lato', sans-serif;
$primary-color: #bdcfd3;
$active-color: #8d9ea2;
$text-line-height: 125%;

*{
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5%;
  ul {
    display: flex;
    list-style-type: none;
  }
}

#nav-button{
  display: none;
}

#lunchList{
  list-style-type: none;
}

.nav-item{
  padding: 0 1rem 0 0;
  font-family: $text-font-family;
  font-weight: 700;
  font-size: 17px;
}

a {
  &:link, &:visited {
    text-decoration: none;
    color: $link-color;
  }
  &:hover {
    color: rgb(100, 100, 100);
  }
  &:active{
    color: rgb(73, 73, 73);
  }
}

.search{
  padding-left: 1rem;
}

#search-bar{
  position: relative;
  padding-left: 1.7rem;
  height: 1.7rem;
  border-radius: 0.5rem;
  border: 1px solid $link-color;
}

#search-label{
  position: absolute;
  z-index: 1;
}

#search-icon{
  height: 1.5rem;
  padding: 0.3rem;
  fill: $link-color;
}

header{
  height: 15rem;
  display: flex;
  background-color: $primary-color;
}

.header-content{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#header-block{
  flex: 2;
}

#logo-text{
  font-family: $header-font-family;
  font-weight: 800;
  font-size: 60px;
  color: $link-color;
}

#slogan{
  font-family: $header-font-family;
  font-weight: 400;
  font-size: 23px;
  color: $link-color;
}


#header-img{
  height: 100%;
  background-size: cover;
  background-position: 50%;
  flex: 3;
}

.card-img{
  width: 8rem;
  height: 8rem;
  border: 1px solid black;
  margin: 1rem 1rem 1rem 0;
}

.card-logo{
  height: 100%;
}

.polygon{
  float: right;
  clip-path: polygon(15% 100%, 100% 100%, 100% 0%, 0 0%);
}

main{
  margin: 3% 5%;
}

article{
  text-align: center;
  margin-bottom: 5%;
}

.cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card{
  margin-bottom: 5%;
  padding: 1rem;
  border: 1px solid black;
  border-radius: .3rem;
  background-color: white;
  box-sizing: border-box;
  width: 47%;
  min-height: 8rem;
  display: flex;
}

.new-card{
  margin-bottom: 5%;
  padding: 1rem;
  border: 1px dashed #9BADBF;
  border-radius: .3rem;
  background-color: white;
  box-sizing: border-box;
  width: 47%;
  min-height: 8rem;
  display: flex;
}

#add-icon{
  height: 1.5rem;
  fill: #9BADBF;
  padding-right: 0.3rem;
}

#add-icon{
  &:hover, &:active{
    fill: $active-color;
  }
}

#add-restaurant{
  color: #9BADBF;
  font-family: $text-font-family;
  font-weight: 400;
  font-size: 13px;
  padding: 0.2rem;
}

.location{
display: flex;
}

.location-icon{
  height: 1.3rem;
  padding-left: 1rem;

  &:hover{
    fill: $active-color;
  }
}

.restaurant{
  font-family: $text-font-family;
  font-weight: 800;
  font-size: 21px;
}

.text{
  font-family: $text-font-family;
  font-weight: 400;
  font-size: 24px;
  line-height: $text-line-height;
}

.menu{
  font-family: $text-font-family;
  font-weight: 400;
  font-size: 13px;
}

.menu-buttons{
  margin: 1rem 0;
  display: flex;
  justify-content: space-evenly;
}

.location-name{
  font-family: $text-font-family;
  font-weight: 400;
  font-size: 14px;
}

#modal{
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content{
  background-color: #fefefe;
  margin: 15% auto;
  border: 1px solid #888;
  width: 80%;
}

.close-modal{
  float: right;
  font-size: 28px;
  font-weight: bold;

  &:hover, &:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
}

.modal-header{
  padding: 1rem;
  background-color: #5cb85c;
  color: white;
}

.modal-body{
  padding: 2px 16px;
}
