* {
  margin: 0;
  padding: 0;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 5%;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

#sodexo, #fazer {
  list-style-type: none;
}

.nav-item {
  padding: 0 1rem 0 0;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 17px;
}

a:link, a:visited {
  text-decoration: none;
  color: #0A0A0A;
}

a:hover {
  color: #646464;
}

a:active {
  color: #494949;
}

.search {
  padding-left: 1rem;
}

#search-bar {
  position: relative;
  padding-left: 1.7rem;
  height: 1.7rem;
  border-radius: 0.5rem;
  border: 1px solid #0A0A0A;
}

#search-label {
  position: absolute;
  z-index: 1;
}

#search-icon {
  height: 1.5rem;
  padding: 0.3rem;
  fill: #0A0A0A;
}

header {
  height: 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #bdcfd3;
}

.header-content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#header-block {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

#logo-text {
  font-family: "Roboto Slab", serif;
  font-weight: 800;
  font-size: 60px;
  color: #0A0A0A;
}

#slogan {
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  font-size: 23px;
  color: #0A0A0A;
}

#header-img {
  height: 100%;
  background-size: cover;
  background-position: 50%;
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.card-img {
  width: 8rem;
  height: 8rem;
  border: 1px solid black;
  margin: 1rem 1rem 1rem 0;
}

.card-logo {
  height: 100%;
}

.polygon {
  float: right;
  -webkit-clip-path: polygon(15% 100%, 100% 100%, 100% 0%, 0 0%);
          clip-path: polygon(15% 100%, 100% 100%, 100% 0%, 0 0%);
}

main {
  margin: 3% 5%;
}

article {
  text-align: center;
  margin-bottom: 5%;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card {
  margin-bottom: 5%;
  padding: 1rem;
  border: 1px solid black;
  border-radius: .3rem;
  background-color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 47%;
  min-height: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.new-card {
  margin-bottom: 5%;
  padding: 1rem;
  border: 1px dashed #9BADBF;
  border-radius: .3rem;
  background-color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 47%;
  min-height: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#add-icon {
  height: 1.5rem;
  fill: #9BADBF;
  padding-right: 0.3rem;
}

#add-icon:hover, #add-icon:active {
  fill: #8d9ea2;
}

#add-restaurant {
  color: #9BADBF;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 10px;
  padding: 0.2rem;
}

.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.location-icon {
  height: 1.3rem;
  padding-left: 1rem;
}

.location-icon:hover {
  fill: #8d9ea2;
}

.restaurant {
  font-family: "Lato", sans-serif;
  font-weight: 800;
  font-size: 21px;
}

.text {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 125%;
}

.menu {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 10px;
}

.location-name {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

#modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  border: 1px solid #888;
  width: 80%;
}

.close-modal {
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-modal:hover, .close-modal:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 1rem;
  background-color: #5cb85c;
  color: white;
}

.modal-body {
  padding: 2px 16px;
}

@media (max-width: 1000px) {
  .card {
    width: 100%;
  }
  .new-card {
    width: 100%;
  }
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 1rem;
}

button {
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
/*# sourceMappingURL=styles.css.map */